.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.no-select {
    user-select: none;
}

.icon-container {
    display: flex;
    align-items: center;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-container.collapsed {
    justify-content: center;
    padding: 8px;
}

.icon {
    width: 25px;
    height: auto;
    margin-left: auto;
    transition: all 0.3s ease;
}

/* 收起时隐藏文字的间距 */
.icon-container.collapsed .icon {
    margin-left: 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #777777;
}

.bubble {
    max-width: 99%;
    background: linear-gradient(135deg, #FFECE8, #E8F8FF, #F4FFE8);
    padding: 8px 16px;
    border-radius: 20px;
    color: #777777;
    font-weight: bold
}

::v-deep(.ant-layout-sider) {
    background-color: #f0f0f0 !important;
}

::v-deep(.ant-slider-handle) {
    border-color: #E8F8FF !important;
    /* 滑块的边框颜色 */
}

::v-deep(.ant-slider-handle:hover) {
    border-color: #E8F8FF !important;
    /* 滑块悬停时的边框颜色 */
}

::v-deep(.ant-slider-handle:focus) {
    border-color: #E8F8FF !important;
    /* 滑块聚焦时的边框颜色 */
}

::v-deep(.ant-slider-handle:active) {
    border-color: #E8F8FF !important;
    /* 滑块拖动时的边框颜色 */
}

::v-deep(.ant-slider-track) {
    background-color: #E8F8FF !important;
    /* 滑动条选中部分的颜色 */
}

/* 添加预设样式 */
.preset-option {
    background-color: #f0f0f080;
}

.preset-option:hover {
    background: linear-gradient(135deg, #FFECE8, #E8F8FF, #F4FFE8);
}