@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #FAF6F5;
}

.ant-layout-sider-trigger {
    display: none !important;
}

.ant-layout-sider-zero-width-trigger .anticon {
    display: none !important;
}

.ant-layout-sider-zero-width-trigger::after {
    content: "" !important;
    background-image: url('/收起.svg') !important;
    background-size: contain !important;
    width: 23px !important;
    height: 23px !important;
    display: inline-block !important;
    margin-left: 10px !important;
    margin-top: 8px !important;
}

.ant-popover-inner {
    background-color: #FAF6F5 !important;
}

.ant-popover-arrow::before {
    background-color: #FAF6F5 !important;
}

.ant-select-selector {
    background-color: #FAF6F5 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 18px !important;

}


.ant-select-selection-item {
    color: #777777 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 0;
}

.ant-select-suffix {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/大模型.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ant-select-suffix > svg {
    display: none !important;
}

.ant-image-preview-operations {
    background-color: transparent !important;
    backdrop-filter: none !important;
}